.dog-booking-info {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.dog-booking-time {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.dog-booking-form {
  height: 80vh;
  text-align: center;
}
