<div class="container">
  <div class="search-container">
    <p>What do you want to search for?</p>
    <%= render "shared/form" %>

  </div>
  <div class="cards">
      <% @dogs.each do |dog| %>
        <%= link_to dog_path(dog.id) do %>
          <%= render "shared/card_show", dog: dog %>
        <% end %>
      <% end %>
  </div>
</div>
