<div class="container mt-3">
  <h1 class="text-center">Update my details</h1>
  <div class="w-50 d-box mx-auto mt-5">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :email %>
    <%= f.submit %>
  <% end %>
  </div>
</div>