<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'background.png' %>);">
  <div class="container">
    <h1>Find a new furry<br>friend in your area</h1>
    <p>Enter your address below</p>
    <div class="banner-search">
       <%= render 'shared/form_dog_show' %>
    </div>
  </div>
</div>
