<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <div class="username">
      <h2>User's name</h2>
    </div>
    <div class="bio">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ad atque perferendis, quam consectetur accusamus eum aliquam maiores, accusantium! Nihil repellat ex numquam quod eum a aperiam nesciunt ut sapiente.</p>
    </div>
  </div>
</div>


