<div class="card-product">
  <img src="https://picsum.photos/seed/picsum/200/300" />
  <div class="card-product-infos">
    <div class="username">
      <%= @user.email %>
    </div>
    <div class="bio">
      <p>Lorem ipsum dolor sit amet consectetur</p>
    </div>
  </div>
</div>


