<div class="card">
  <% if dog.photo.attached? %>
    <%= cl_image_tag dog.photo.key, height: 400, width: 600, crop: :fill %>
  <% end %>
  <div class="card-info">
    <div>
      <h2><%= dog.name %></h2>
      <p><%= dog.breed %></p>
    </div>
    <h2 class="card-age"><%= dog.age %> years old</h2>
  </div>
</div>
