<div class="card">
  <p class="dog-card-booking-link"><%= link_to "Book this dog!", new_dog_bookings_path(dog.id) %></p>
  <img src="https://source.unsplash.com/random" />
  <div class="card-info">
    <div>
      <h2><%= dog.name %></h2>
      <p><%= dog.breed %></p>
    </div>
    <h2 class="card-age"><%= dog.age %> years old</h2>
    <img src="https://source.unsplash.com/random" class="card-user avatar" />
  </div>
</div>
