<h3>Profile Actions</h3>
<ul>
  <li>
    <%= link_to "Add a new dog", new_user_dog_path(current_user) %>
  </li>
  <li>
    <%= link_to "Edit your bio", "#"%>
  </li>
  <li>
    <%= link_to "Change your profile picture", "#"%>
  </li>
  <li>
    <%= link_to "Do something else here", "#"%>
  </li>
</ul>
