<h3>Profile Actions</h3>
<ul>
  <li>
    <%= link_to "Add a new dog", new_user_dog_path(current_user) %>
  </li>
  <li>
    <%= link_to "Edit your profile", edit_user_path(current_user) %>
  </li>
  <li>
    <%= link_to "Do something else here", "#"%>
  </li>
</ul>
