<h4 class="mb-3">Gigs for your dogs:</h4>
<div class="dog-bookings mb-3">
  <% if @bookings_my_dogs.empty? %>
    <p>None at the moment</p>
  <% end %>
  <% @bookings_my_dogs.each do |booking| %>
      <%= render 'shared/user_show_booking_cards', booking: booking %>
  <% end %>
</div>

<h4 class="mb-3">Borrowing other dogs:</h4>
<div class="dog-bookings mb-3">
  <% if @bookings_other_dogs.empty? %>
    <p>None at the moment</p>
  <% end %>
  <% @bookings_other_dogs.each do |booking| %>
    <%= render 'shared/user_show_booking_cards', booking: booking %>
  <% end %>
</div>