<br>
<br>
<br>
<div class="container text-center">
  <h1>Blog</h1>
  <br>
  <br>
  <div style="display: flex;margin: 0 auto;width: 1000px;">
    <div>
      <%= image_tag 'blog.png', height: 400, width: 400, crop: :fill %>
    </div>
    <div class="content-text" style="width: 500px;">
      <h2>Tips and Tricks For<br> Traveling With Dogs</h2>
      <p>Having a dog around is probably one of the best things that happened in your life. It feels good to have a furry friend who will always look at you like you are the best person in this world. Because of this, it is easy to get attached to your pet dogs. In fact, you will begin to become interested in bringing it wherever you will go. If you are planning to bring your dog in one of your upcoming trips, be sure to plan the activity ahead of time. Take note that not all dogs are capable of going on long road trips or riding airplanes. There are some serious health implications of traveling that you need to watch out for. Most importantly, you must also learn some of the do’s and don’t’s for this activity. We have rounded up some tips and tricks to help you with this:</p>
    </div>
  </div>
  <br>
  <p><strong style="color: #94C5DB;">Start With Somewhere Near</strong>
  <br>
  <br>
  As much as possible, it is best to travel to a nearby town or neighboring city first before taking your lovely puppy to another state. It is essential to start with somewhere near so that your dog can quickly adjust with the activity. Keep in mind that traveling can be exhausting for the dog, which is why you have to teach it first on how to get used to it. At the same time, you also need to study the way your dog behaves during the entire trip. List down the peculiar things that it does and ask the veterinarian what these body languages mean.
  <br>
  <br>
  <strong style="color: #94C5DB;">Bring The Essentials</strong>
  <br>
  <br>
  When it comes to traveling with a pet, the number one thing that you need to remember is that you are not only packing for yourself but also for your companion. Make sure to gather all the essential items that your dog may need during the entire trip. Choose a water-resistant backpack where you can place these essential items. Do not forget to bring its vaccination records as well as first aid kit, dog food, collar, and leash. If you are going to drive to the place of destination, it is recommended to get a dog sitter and install it in your car’s seat.
  <br>
  <br>
  <strong style="color: #94C5DB;">Talk To A Pet Doctor</strong>
  <br>
  <br>
  Do not neglect the significance of visiting a pet doctor’s clinic before going out on a trip with your beloved pet. As already mentioned above, this activity can be dangerous for your dog. You have to be careful to ensure that nothing will go wrong during the vacation time. Wait for the go signal from the veterinary. In so doing, you can have peace of mind during the trip because you know that your dog is in great shape or excellent condition for the travel activity. The said professional could also provide you with some dog care tips to remember as you visit a new city or town with your furry companion.
  <br><br>
  Stop pressuring yourself about traveling with dogs. Believe in yourself that you can do it. However, you must also take into consideration the tips and tricks mentioned above. Just follow them for a better chance of having a marvelous adventure with your pup!</p>
</div>

