.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0;
  height: 79vh;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
}

.banner-search {
  width: 420px;
}
