.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-gray {
  background: $light-gray;
}

.navbar-light .navbar-nav .nav-link {
  color: $gray;
}

.dropdown-item {
  color: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#navbarSupportedContent > ul > li > a {
  color: $gray;
}

#navbarSupportedContent a:hover {
  color: $blue;
}
